// General App Variables
$primaryColor: #5b8f22;
$lightPrimary: #7ab800;
$secondaryColor: #cccccc;
$lightSecondary: #e5e5e5;
$appBackgroundColor: whitesmoke;
$textColor: #666666;

// Footer
$footerBackgroundColor: #69a618;

// Font sizes
$xs: 16px;
$s: 20px;
$m: 24px;
$l: 35px;
$xl: 65px